#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #a4c991;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: middle;
}
.logoText {
  font-size: 3rem;
  margin: 0;
  padding-left: 0.5rem;
}
.logoIcon {
  height: 3.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logoIcon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logoIcon {
    animation: logo-spin infinite 40s linear;
  }
}

.Tagline p {
  font-size: 3rem;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

.Desc {
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
